- name: Add Bitnami Sealed Secrets repo
  kubernetes.core.helm_repository:
    state: present
    name: sealed-secrets
    repo_url: https://bitnami-labs.github.io/sealed-secrets
  tags:
    - secrets

- name: Check for backed-up master key file
  stat:
    path: '{{ role_path }}/files/master.key'
  register: masterkey

- name: Check if sealed secrets key already exists in cluster
  k8s_info:
    api_version: v1
    kind: Secret
    namespace: kube-system
    label_selectors:
      - sealedsecrets.bitnami.com/sealed-secrets-key
  register: existing_sealed_secret
  when: masterkey.stat.exists
  tags:
    - secrets

- name: Restore master key (before Helm deployment)
  when:
    - masterkey.stat.exists
    - existing_sealed_secret.resources | length == 0
  tags:
    - secrets
  block:
    - name: Load master key definition
      set_fact:
        master_key_data: "{{ lookup('file', '{{ role_path }}/files/master.key') | from_yaml }}"

    - name: Strip immutable fields and apply master keys
      k8s:
        definition:
          apiVersion: '{{ item.apiVersion }}'
          kind: '{{ item.kind }}'
          metadata:
            name: '{{ item.metadata.name }}'
            namespace: '{{ item.metadata.namespace }}'
            labels: '{{ item.metadata.labels }}'
          type: '{{ item.type }}'
          data: '{{ item.data }}'
        state: present
      loop: '{{ master_key_data["items"] }}'

- name: Deploy Sealed Secrets Controller to cluster
  kubernetes.core.helm:
    update_repo_cache: true
    state: present
    name: sealed-secrets-controller
    chart_ref: sealed-secrets/sealed-secrets
    release_namespace: kube-system
    create_namespace: true
    release_values: "{{ lookup('file', '{{ role_path }}/files/values.yml') | from_yaml }}"
    wait: true
  tags:
    - secrets

- name: Backup Master key to master.key | You should save it somewhere safe
  shell: kubectl get secret -n kube-system -l sealedsecrets.bitnami.com/sealed-secrets-key -o yaml >{{ role_path }}/files/master.key
  changed_when: false
  register: argocd_status
  run_once: true
  when: not masterkey.stat.exists
  tags:
    - secrets
