# https://github.com/prometheus-community/helm-charts/blob/kube-prometheus-stack-45.30.1/charts/kube-prometheus-stack/values.yaml
kube-prometheus-stack:
  # https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
  grafana:
    enabled: true
    defaultDashboardsTimezone: Europe/Zurich
    forceDeployDatasources: true
    forceDeployDashboards: true
    # http://docs.grafana.org/administration/provisioning/#datasources

    additionalDataSources:
      - name: Loki
        type: loki
        url: http://loki.loki:3100

      - name: Sun and Moon
        type: fetzerch-sunandmoon-datasource
        access: proxy
        basicAuth: false
        editable: true

    plugins:
      - grafana-clock-panel
      - fetzerch-sunandmoon-datasource

    grafana.ini:
      server:
        root_url: https://grafana.mekanics.ch

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: mekanics-ca-issuer
        hajimari.io/group: Monitoring
        hajimari.io/appName: Grafana
        hajimari.io/icon: chart-bar
      hosts:
        - &host grafana.mekanics.ch
      tls:
        - secretName: grafana-general-tls
          hosts:
            - *host

    initChownData:
      enabled: false

    persistence:
      enabled: true
      type: pvc
      existingClaim: nfs-monitoring-grafana

    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 80
            preference:
              matchExpressions:
                - key: node.homelab.io/storage-type
                  operator: In
                  values: ['ssd']

  prometheus:
    prometheusSpec:
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorSelectorNilUsesHelmValues: false
      podMonitorSelectorNilUsesHelmValues: false
      probeSelectorNilUsesHelmValues: false
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: node.homelab.io/performance
                    operator: In
                    values: ['high']
            - weight: 80
              preference:
                matchExpressions:
                  - key: node.homelab.io/storage-type
                    operator: In
                    values: ['ssd']

  # Additional exporters
  prometheus-node-exporter:
    enabled: true

  # Blackbox exporter for API server monitoring
  kube-state-metrics:
    enabled: true

  prometheus-blackbox-exporter:
    enabled: true
