---
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: loadbalancer-ips
  namespace: kube-system
spec:
  externalIPs: true
  loadBalancerIPs: true
  # Restrict announcements to ethernet interfaces only
  interfaces:
    - ^eth[0-9]+$

