---
- name: Install k3s
  include_tasks: k3s.yml
  when: ansible_facts['os_family'] != "Darwin"
  tags:
    - install
    - k3s

- name: Label k3s nodes
  include_tasks: label_nodes.yml
  when: ansible_facts['os_family'] != "Darwin"
  tags:
    - install
    - k3s
    - labels
# - name: Install k3s
#   tags:
#     - install
#     - k3s
#   block:
#     - name: Setup K3S servers
#       include_tasks: k3s.yml
#       hosts: servers
#       become: true
# # - name: Setup K3S agents
# #   hosts: agents
# #   include_tasks: k3s_worker.yml
# #   become: true
# #   tags:
# #     - install
# #     - k3s
