{% if inventory_hostname == groups['servers'][0] %}
cluster-init: true
{% else %}
server: https://{{ apiserver_endpoint }}:6443
token-file: {{ k3s_token_file }}
{% endif %}
{% if 'servers' in group_names %}
{{ k3s_server_config | to_nice_yaml }}
{% endif %}
data-dir: {{ k3s_server_location }}