# https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml

gitops:
  repo: https://github.com/mekanics/homelab
  revision: migrate-to-cilium ## HEAD, branch, tag, ...
stacks:
  - name: bootstrap
    namespace: argocd # Override default value
    syncWave: 0 # Deploy first (ArgoCD itself)
  - name: system
    syncWave: 10 # Deploy second (infrastructure components)
  # - name: platform
  - name: apps
    syncWave: 20 # Deploy last (applications)
