- name: Deploy namespace
  import_tasks: namespace.yml

- name: Wait for all k8s nodes to be ready
  shell: kubectl --kubeconfig=kubeconfig.yaml wait --for=condition=Ready nodes --all --timeout=600s
  register: nodes_ready

- name: Deploy ArgoCD using Helm
  kubernetes.core.helm:
    chart_ref: '{{ role_path }}/files'
    # renovate: datasource=github-releases depName=argoproj/argo-helm
    chart_version: '9.1.3'
    dependency_update: true
    release_namespace: 'argocd'
    release_name: 'argocd'
    create_namespace: false
    values: "{{ lookup('file', '{{ role_path }}/files/values-seed.yml') | from_yaml }}"
    wait: true
  tags:
    - argo
    - gitops
