---
apiserver_endpoint: 192.168.10.110
bootstrap_server_ip: "{{ hostvars[groups['servers'][0]]['ansible_host'] }}"

k3s_server_location: '/var/lib/rancher/k3s'
k3s_config_file: /etc/rancher/k3s/config.yaml
k3s_token_file: /etc/rancher/node/password
k3s_service_file: /etc/systemd/system/k3s.service

k3s_server_config:
  disable:
    - servicelb
    - traefik
    - local-storage
  disable-kube-proxy: true
  disable-cloud-controller: true
  disable-network-policy: true
  flannel-backend: none
  secrets-encryption: true
  node-label: "{{ (k8s_node_labels | default({})).items() | map('join', '=') | list }}"
