fava:
  image:
    # repository: ghcr.io/mekanics/fava
    # pullPolicy: IfNotPresent
    # # Overrides the image tag whose default is the chart appVersion.
    tag: 0.8.7

  env:
    - name: BEANCOUNT_FILE
      value: '/bean/main.bean'
    - name: TZ
      value: Europe/Zurich
    - name: WATCHFILES_FORCE_POLLING
      value: true

  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: mekanics-ca-issuer
      hajimari.io/group: Apps
      hajimari.io/appName: Finances
      hajimari.io/icon: finance
    hosts:
      - host: &host finance.mekanics.ch
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: finance-tls-certificate
        hosts:
          - *host

  volume:
    persistentVolumeClaim:
      claimName: nfs-fava-ajo

  priceUpdateJobs:
    enabled: true
    commitToGit: true
    jobs:
      - name: weekly
        # schedule: '15 00 * * SAT'
        schedule: '00 17 * * FRI' # 1h after the US market closes (16:00)
        timezone: 'America/New_York'

      - name: last-day-of-month
        schedule: '00 4 1 * *' # Equivalent to 10pm in New York
        timezone: 'Europe/Zurich'

  resources:
    # limits:
    #   cpu: 500m
    #   memory: 500Mi
    requests:
      cpu: 250m
      memory: 250Mi

  probes:
    liveness:
      enabled: true
      spec:
        httpGet:
          path: /beancount/help
          port: http
        initialDelaySeconds: 10
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 5
